<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a routerLink="/" routerLinkActive="nav__link--active" class="nav__link">Dashboard</a>
      </li>
      <li class="nav__item">
        <a routerLink="/artists" routerLinkActive="nav__link--active" class="nav__link">Artists</a>
      </li>
      <li class="nav__item">
        <a routerLink="/tracks" routerLinkActive="nav__link--active" class="nav__link">Tracks</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</header>