.header {
  background: $translucent;
  color: $white;
}

.nav {
  margin-left: -25px;
  margin-right: -25px;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &__item {
    display: inline-block;
    
    &--right {
      float: right;
    }
  }

  &__link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: $white;
    position: relative;
    padding: 30px 25px;

    &:hover,
    &--active {      
      &:after {
        content: '';
        display: block;
        height: 3px;
        width: calc(100% - 50px);
        background-color: $translucentHalf;
        position: absolute;
        bottom: 0;
        left: 25px;
      }
    }
  }

  &__text {
    display: inline-block;
    padding: 30px 25px;
  }
}