$black: #191414;
$white: #FFFFFF;

$purple: #233D4D;
$lightBlue: #41f89b;
$orange: #ff7426;
$yellow: #edf750;
$offWhite: #f0f0fe;

$translucent: rgba($white, 0.1);
$translucentHalf: rgba($white, 0.5);

$translucentPurple: rgba($purple, 0.1);
$translucentHalfPurple: rgba($purple, 0.5);

$sansSerif: 'Roboto', sans-serif;