// $black: #393E41;
$black: #2A2B2A;
$white: #FFFFFF;
$offWhite: #E7E5DF;
$lightGrey: #D3D0CB;
$blue: #197278;
$darkBlue: #283D3B;
$green: #44BBA4;
$yellow: #E7BB41;
$shadow: rgba(0, 0, 0, 0.4);

$sansSerif: 'Roboto', sans-serif;