<div class="card card--white-bg card--orange card--playlist" [class.card--playlist--active]="playlistCardActive">
  <h4 class="card__title card__title--heading card__title--dark">Create a playlist with these tracks?</h4>

  <div *ngIf="creating">
    <div class="input-group">
      <label for="playlist-name">Name</label>
      <input type="text" id="playlist-name" name="playlist-name">
    </div>
    <div class="input-group">
      <label for="playlist-public">Public</label>
      <input type="checkbox" id="playlist-public" name="playlist-public">
    </div>
  </div>

  <div>
    <button (click)="createPlaylist()"
      class="button button--dark button--ah-orange button--small mr-3">Create</button>
    <button *ngIf="creating" (click)="resetCreating()"
      class="button button--dark button--ah-orange button--small">Cancel</button>
    <button (click)="togglePlaylistCard()"
      class="icon-button card__toggle"><fa-icon [icon]="chevron"></fa-icon></button>
  </div>
</div>