.button {
  $button: &;

  color: $white;
  cursor: pointer;
  text-decoration: none;
  background-color: $translucent;
  padding: 20px 30px;
  display: inline-block;
  text-align: center;
  border: 0;
  border-bottom: 2px solid $translucentHalf;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  
  &:hover {
    border-color: $orange;
  }

  &__sub-text {
    display: block;
    color: $translucentHalf;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 300;
  }

  &--large {
    min-width: 240px;    
  }

  &--small {
    padding: 10px 30px;
    font-size: 14px;
  }

  &--full {
    width: 100%;
  }

  &--ah-blue {
    &#{$button}--active,
    &:hover {
      color: $lightBlue;
      border-color: $lightBlue;
    }
  }

  &--ah-orange {
    &#{$button}--active,
    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }

  &--ah-yellow {
    &#{$button}--active,
    &:hover {
      color: $yellow;
      border-color: $yellow;
    }
  }

  &--dark {
    color: $purple;
    background-color: $translucentPurple;
    border-color: $translucentHalfPurple;
  }
}