.card {
  background-color: $translucent;
  padding: 25px 30px;
  border-left: 2px solid $translucentHalf;
  margin-bottom: 30px;
  position: relative;

  @include media-breakpoint-up(md) {
    min-height: 103px;
  }

  &__title {
    margin: 0;

    &--dark {
      color: $purple;
    }

    &--heading {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin-top: 7px;
    margin-bottom: 0;
    color: $translucentHalf;
  }

  &__image {
    height: 103px;
    width: 103px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__toggle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding-left: 13px;
    padding-right: 13px;
  }

  &--blue {
    border-color: $lightBlue;
  }

  &--orange {
    border-color: $orange;
  }

  &--yellow {
    border-color: $yellow;
  }

  &--white-bg {
    background-color: $white;
  }

  &--playlist {
    position: fixed;
    bottom: 10px;
    right: 0;
    transform: translateX(300px);
    padding-left: 40px;
    transition: transform 0.5s ease;

    &--active {
      transform: translateX(0);      
    }
  }
}