.label {
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;

  &--dark {
    color: $purple;
  }
}

.text-input {
  border: 0;
  border-bottom: 2px solid $translucentHalf;
  outline: none;
  display: block;
  width: 100%;
  padding: 4px 0;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 300;

  &--dark {
    border-color: $translucentHalfPurple;
    color: $purple;
  }
}

.input-group {
  margin-bottom: 28px;
}

.message {
  margin-bottom: 25px;
  font-size: 14px;

  &--success {
    color: $lightBlue;
  }
  &--error {
    color: $orange;
  }
}
