$num: null;

.list {
  .list__item {
    margin-bottom: 5px;
    
    @include media-breakpoint-down(sm) {
      position: relative;
      padding-left: 36px;
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__num {
    display: inline-block;
    min-width: 28px;

    @include media-breakpoint-down(sm) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__main {
    margin-left: 5px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      display: block;
    }
  }

  &__sub {
    color: $translucentHalf;
    display: inline-block;
    margin-left: 10px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      display: block;
    }
  }

  &__link {
    display: inline-block;
    margin-left: 10px;
    color: $translucentHalf;
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      display: block;
      margin-left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--blue {
    .list__num,
    .list__link {
      color: $lightBlue;
    }
  }

  &--orange {
    .list__num,
    .list__link {
      color: $orange;
    }
  }

  &--yellow {
    .list__num,
    .list__link {
      color: $yellow;
    }
  }
}