.panel {
  background-color: $translucent;
  padding: 25px 30px;
  border-top: 2px solid $translucentHalf;
  margin-top: 30px;

  &--blue {
    border-color: $lightBlue;
  }

  &--orange {
    border-color: $orange;
  }

  &--yellow {
    border-color: $yellow;
  }
}